.ProgressBar {

    height : 220px;
    width :  250px;
    margin: auto;
    text-align:  center;
}

.ProgressChart {

    padding : 5% 0 ;
    background-color : #F5F5F5;
    height : 189px;
    width : 189px;
    border-radius: 50%;
    display : flex;
    justify-content: center;
    align-items: center;
  

}

.AnalogData {
     position : relative;
    width : 100px; height : 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% ;
     top  : -74%;
     left : 30%;
    font-size : 24px;
    color : #30313A;
    font-weight : bold;
    box-shadow: 0px 0px 22px hsla(165, 63%, 50%, 0.15);
    }

.PercentIndicator {
    height : 103px;
    width : 103px;
    
color : #222222;
}

.pt {

    text-align: center;
    /* margin : auto 4%; */
    width : 90%;
    margin : auto;
 }

 .pt h4 {

    padding : 10% 0 0 0 ;
    font-weight: bolder;
    font-size: 18px;
 }

 .ProgressSvg {

    width : 100%;
    height : 100%;
 }

 circle {
     stroke-dasharray: 565;
     stroke-dashoffset: 565;

 }

 .ProgressBar_path {

    fill : #F5F5F5;
    stroke : transparent;
    stroke-width: 3px;
 }
 .ProgressBar_thumb {

    fill : transparent;
     stroke-width : 5px;
     stroke : rgba(111, 214, 136, 0.918);

      stroke-linecap: round;
   
      transform:  rotate(-90deg);
      transform-origin: 50% 50% ;
 }

 .percentage {

    fill : white;
    box-shadow: 1px 1px 1px green;
 }

 .Statistics :nth-child(2)
{
    margin : 0 2%;
}
.Statistics {
    width: 100%;
    display: flex;
    justify-content: center;
    padding : 8% 0 ;
    font-weight : bold;
    font-size : 12px;
    color : #52586A
}