.dailyCasereport {
   width : 222px;
   height : 100%;
   padding: 10% 5%;
   margin : 2% 0;
    display: flex;
    justify-content: space-around;
}

.dailyCasereport h3 {
   padding : 5% 5% 0 0;
   font-size : 24px;
}

.dailyCasereport p {
    font-size: 14px;
    font-weight : 600;
}

.dailyCasereportSection {
    display: flex;
   justify-content: space-between;
    
}
.Box{
    background-color:white;
	box-shadow: 0px 5px 20px #1425401A;
    border-radius: 8px;
    opacity: 1;
}

@media(max-width:700px){
      .dailyCasereportSection{
      flex-direction: column;
      align-items: center;
      }
      .dailyCasereport{
      width: 80vh;
    }}